@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;

.container {
  border-bottom: 0.063rem solid $ui-03;
  background-color: colors.$gray-10;
  display: grid;
  width: 100%;
  margin-bottom: layout.$spacing-04;
  margin: 0 auto layout.$spacing-04 auto;
}

.patientSearchTile {
  min-height: auto;
  padding-left: layout.$spacing-09;
  padding-right: layout.$spacing-09;
  margin-bottom: layout.$spacing-05;
  background-color: colors.$white;
}

.clearButton {
  text-align: center;
  display: flex;
}

.searchForm {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-05;
  margin-top: layout.$spacing-03;
}

.searchRow {
  display: flex;
  gap: layout.$spacing-05;
  align-items: end;
}

.identifierNumberColumn {
  flex: 1;
  margin-bottom: 0;
}

.identifierTypeHeader {
  color: colors.$gray-70;
  display: inline-block;
  font-size: layout.$spacing-04;
  line-height: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
  vertical-align: baseline;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: layout.$spacing-03;
  gap: layout.$spacing-03;
}

.searchResultsContainer {
  width: 80%;
  background-color: $ui-02;
  margin: 0 auto;
  margin-top: layout.$spacing-05;
}

.formHeaderSection {
  @include type.type-style('heading-02');
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: layout.$spacing-06;
  position: relative;
  margin-bottom: layout.$spacing-06;

  &::after {
    content: '';
    display: block;
    width: layout.$spacing-07;
    border-bottom: 0.375rem solid var(--brand-03);
    position: absolute;
    bottom: -0.75rem;
    left: 0;
  }

  & > span {
    @include type.type-style('body-01');
  }
}

.container {
  border-bottom: 0.063rem solid $ui-03;
  background-color: colors.$gray-10;
  display: grid;
  width: 100%;
  align-items: center;
  padding-left: layout.$spacing-05;
  margin-bottom: layout.$spacing-04;
  margin: 0 auto layout.$spacing-04 auto;
}

.searchResults {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: layout.$spacing-05;
  margin-left: layout.$spacing-05;

}

.hieResultsSection {
  margin-bottom: layout.$spacing-04;
}

.resultsHeader {
  text-align: left;
  margin-bottom: layout.$spacing-03;
}
.buttonCol {
  grid-column: 1 / -1;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.patientInfo {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: layout.$spacing-04;
  align-items: center;
}
.patientAvatar{
  margin-top: layout.$spacing-06;
}

.dependentsSection {
  width: 100%;
  margin-top: 1rem;
  border-top: 1px solid colors.$gray-20;
  padding-top: 1rem;
}

.noDependents {
  padding-bottom: 1rem;
}

.emptyStateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  width: 100%;
  background-color: colors.$white;
  row-gap: layout.$spacing-02;

  & form {
    border: none;
  }

  svg {
    width: 190px;
    height: 90px;
  }

  .title {
    @include type.type-style('heading-01');
    color: colors.$cool-gray-70;
  }

  .subTitle {
    color: colors.$cool-gray-70;
      font-size: layout.$spacing-05;

  }
}